.container_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .input_container {
    display: flex;
    margin-top: -30px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .delete-extra-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-extra-button:hover {
    background-color: darkred;
  }