/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.facility-list-title{
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: .2rem;
  font-size: 36px;
} */

.facility-list-title{
  text-align: center;
} 
.facility-list {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    width: 300px;  
    transition: all 0.3s;
    overflow: hidden;
}

.card:hover {  
  transform: scale(1.1);
  /* filter: brightness(1); */
  
}

.card:hover img {
  filter: brightness(1);
}


.card img {
    max-width: 100%;
    filter: brightness(0.9);
    transition: all 0.3s;
}

/* .card img:hover {
  filter: brightness(1);
} */

.card-content {
    margin-top: 16px;
}



.facility-list li {
    list-style-type: none;
}

  @media (max-width: 768px) {
    .facility-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 80%;
      margin-bottom: 20px;
    }
  }

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
  
.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}
  


