.chart-container-box{
  width: 700px;
  margin-top: 50px;
}
.chart-container {
  /* Adjust the width and height to make the chart larger */
  width: 100%; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  margin-bottom: 40px; 
  margin-top: 40px;
}
.chart-container h3{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}